@mixin glow {
    box-shadow: 0 0 4px 5px $neon;
}

@mixin flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin computerMQ {
    @media screen and (max-width: 1050px) {
        @content;
    }
}

@mixin tabletMQ {
    @media screen and (max-width: 800px) {
        @content;
    }
}

@mixin medTabletMQ {
    @media screen and (max-width: 675px) {
        @content;
    }
}

@mixin smTabletMQ {
    @media screen and (max-width: 565px) {
        @content;
    }
}

@mixin phoneMQ {
    @media screen and (max-width: 480px) {
        @content;
    }
}