@import 'setup';

* {
    padding: 0;
    margin: 0;
    border: solid 1px red;
}

html {
    font-size: 62.5%;
}

body {
    background-color: cornsilk;
}
main {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    object-fit: cover;
    display: block;
}

.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
    border: 1px solid red;
}


h1 {
    font-size: 5rem;
    margin: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

legend {
    display: flex;
    flex-direction: column;
}

input {
    width: 30vw;
    margin: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 40px;
}

button {
    width: 50%;
    margin: 0 auto;
}
a {
    pointer-events: auto;
    cursor: pointer;
    text-decoration: none;
}


li {
    list-style-type: none;
    
}

// .slider {
//     border: 3px solid blue;
//     margin: 80px;
//     width: 60%;
//     height: 200px;
//     overflow: hidden;
// }

// .slider-inner {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 200%;
//     display: grid;
//     grid-template-columns: repeat(7, 1fr);
//     gap: 15px;
//     pointer-events: none;
// }

// .slide-image {
//     height: 100%;
//     min-width: 200px;
//     background: coral;
//     padding: 15px;
// }

.secret {
    max-width: 100px;
    height: auto;
}

footer {
    text-align: center;
}
