@import 'setup';
@import 'variables';
@import 'mixins';

* {
    padding: 0;
    margin: 0;
    outline: 1px black solid;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $background;
    font-family: $secondaryFont;
    color: $darkBlue;
    cursor: url('../assets/blue-blur-cursor-01.png'), default;
}

a {
    text-decoration: none;
}

// header {
//     @include tabletMQ {
//         margin: 15px;
//     }
// }

main {
    height: 35vh;
}



img {
    max-width: 100%;
    object-fit: cover;
    display: block;
}

h1 {
    margin: 8px;
    text-align: center;
    font-family: $featureFont;
    font-size: 8rem;
    letter-spacing: 5px;
    color: $background;
    -webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color: $darkBlue;
    text-shadow: 4px 4px $darkCoral, 8px 8px $lightCoral;
    
}

.about {
    position: absolute;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

legend {
    @include flexCenter;
}

input {
    margin-top: 5px;
    width: 30vw;
    min-width: 300px;
    padding: 10px;
    text-align: center;
    border-radius: 40px;
    border: 1px solid $darkBlue;
    font-family: $secondaryFont;
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: $darkBlue;
    background: rgb(217,234,255);
    background: linear-gradient(337deg, rgba(217,234,255,0.7) 0%, rgba(255,255,255,0.8) 30%, rgba(217,234,255,0.7) 49%, rgba(181,215,255,0.7) 61%, rgba(255,255,255,0.8) 82%, rgba(217,234,255,0.7) 100%); 

    &::placeholder {
        font-family: $secondaryFont;
        font-size: 1.6rem;
        opacity: 1;
        letter-spacing: 1px;
    }

    &:hover {
        background: rgb(217,234,255);
        background: linear-gradient(337deg, rgba(217,234,255,0.4) 0%, rgba(255,255,255,0.5) 30%, rgba(217,234,255,0.5) 49%, rgba(181,215,255,0.4) 61%, rgba(255,255,255,0.4) 82%, rgba(217,234,255,0.5) 100%); 
        outline: none;
        @include glow;
    }

    &:focus {
        outline: none;
        @include glow;
    }
}

button[type='submit'] {
    position: relative;
    top: 0;
    right: 0;
    margin: 10px auto;
    border-radius: 50%;
    padding: 10px 30px;

    font-family: $secondaryFont;
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: $darkBlue;

    background-color: $background;
    border: 1px solid $darkBlue;
    box-shadow: 4px 4px $darkBlue;

    &:active,
    &:focus {
        top: 3px;
        right: -3px;
        background-color: $neon;
        box-shadow: 2px 2px $darkBlue;
        border: 1px solid $darkBlue;
        outline: none !important;
    }
    
    &:focus {
        border: 1px solid $darkBlue;
    }

    &:hover {
        box-shadow: 0 0 4px 5px $neon, 4px 4px $darkBlue;
    }
}


.slider {
    display: flex;
    position: relative;
    margin: 10px auto;
    height: 45vh;
    width: 60vw;
    outline: 1px solid red;

    @include tabletMQ {
        width: 80vw;
    }

    @include smTabletMQ {
        width: 95vw;
    }
}

.slider-inner {
    position: relative;
    width: 100%;
    height: 100%;
    @include flexCenter;
}

.go-back,
.go-next {
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 33%;
    border: none;
    background-color: transparent;

    @include phoneMQ {

    }
}

.go-back {
    cursor: url('../assets/arrow-back.png'), default;
}

.go-next {
    right: 0;
    cursor: url('../assets/arrow-next.png'), default;
}

li {
    list-style-type: none;
    position: absolute;
    height: 95%;
    width: 50%;
    @include flexCenter;
    padding: 20px 50px;
    background-color: $darkest;
    opacity: 0;

    @include phoneMQ {
        width: 85%;
    }
}

li.prev,
li.next {
    z-index: 10;
    opacity: 0.25;
    scale: 0.7;

    @include phoneMQ {
        opacity: 0;
    }
}

li.prev {
    left: 0;
}

li.next {
    right: 0;
}

li.current {
    z-index: 11;
    opacity: 1;
    scale: 1;
}

li:nth-child(6n+1) {
    border-radius: 73% 27% 72% 28% / 32% 64% 36% 68%; 
}
li:nth-child(6n+2) {
    border-radius: 24% 76% 22% 78% / 66% 27% 73% 34%;
}
li:nth-child(6n+3) {
    border-radius: 48% 52% 70% 30% / 43% 63% 37% 57%; 
}
li:nth-child(6n+4) {
    border-radius: 70% 30% 70% 30% / 43% 71% 29% 57%; 
}
li:nth-child(6n+5) {
    border-radius: 70% 30% 70% 30% / 22% 49% 51% 78%; 
}
li:nth-child(6n+6) {
    border-radius: 55% 45% 24% 76% / 57% 22% 78% 43%;  
}

.slider-inner {
    color: white;
    h2{
        margin-bottom: 23px;
        text-align: center;
        font-family: $featureFont;
        font-size: 3.2rem;
        font-weight: 800;   
        text-shadow: 0 0 20px $neon;  
    }
    p {
        font-size: 1.7rem;
        padding: 2px;
    }
    a {
        font-size: 1.7rem;
        padding-top: 15px;
        line-height: 2.2rem;
        color: white;

        &:hover,
        &:focus {
            color: $neon;
            font-size: 1.9rem;
        }
    }
}

section {
    height: 15vh;
    margin-top: auto;

    // @include tabletMQ {
    //     margin-top: 30px;
    // }
}

.secret-button {
    margin-bottom: 10px;
    max-width: 100px;
    height: auto;
    transition: scale 0.5s ease;

    &:hover {
        scale: 1.1;
        cursor: url('../assets/sparkles-01.png'), default;
    }
}

.secret-display {
    height: 100vh;
    width: 100vw;
    position: absolute;
    // background-color: blue;
}



footer {
    height: 5vh;
    text-align: center;
    padding: 5px;
    p {
        font-size: 1.5rem;
        line-height: 2rem;
        a {
            color: $darkBlue;

            &:focus,
            &:hover {
                color: $darkCoral;
                font-weight: 600;
            }
        }
    }
}


